/* Page Login patient : ============================================================ */
html,
body {
    height: 100%;
    width: 100%;
}
.vaguetop {
  width:100%;
}
.vaguebottom {
  position:fixed;
  bottom:0;
width:100%}

.font {
    background-image:url("../img/cabinet44.jpg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    background-size: cover;
}
h3 { margin-top:0%;}
.opac {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0%;
}


::placeholder {
    color: rgb(41, 40, 40);
}

