html, body {
    /* couleurs */
    --colorSidenav: #477480;
    --colorSidenavClaire: #57ccc6;
    --colorActive: #ee946b;
    --colorPoliceBlanche: #ffff;
    
    --colorActiveFonce: #e66131;
}
    main {
        /* Décalage de 300px pour la sidebar */
        padding-left: 300px;
    }

    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        /* Navbar contient le burger mais est invisible */
        background: none;
        height: 60px;
        position: absolute;
        top: 0;
        box-shadow: none;
    }

    nav h5 {
        padding-left: 300px;
    }

    .sidenav {
        background: var(--colorSidenav);
    }
        .sidenav img {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 150px;
        }
        .sidenav li a {
            color: var(--colorPoliceBlanche);
        }
        .sidenav-trigger {
            color: var(--colorPoliceBlanche);
            text-shadow: grey 0px 2px 3px;
        }
        .sidenav li a.active {
            background: var(--colorActive);
        }
    
    @media only screen and (max-width : 992px) {
        #index-banner .section {
            top: 0;
        }
    }
    @media only screen and (max-width : 992px) {
        header, main, footer, nav h5 {
            padding-left: 0;
        }
    }
    /* En-tête commune aux pages : */
    header .Vague {
        top: 0;
        min-width: 100%;
        z-index: 3;
        position: absolute;
    }
    /* Page Accueil : ============================================================ */
    /*classe pour les polices dans la notif voila*/
    .plusgro{
        font-weight: bold;
    }
    .dent{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        top: 37px;
        margin-right: 15px;
        
    }
    .Photoaccueil {
        border-radius: 5px;
    }    
    .Opacitevague {
       opacity: 1;
       z-index: 1;
    }
    /* .Foto4 {
        background-image: url("../img/cabinetcoupe.png");
    }     */
    .Container_logo {
        margin-top: -75px!important;
    }
    .Titre{
        font-size: 1.3rem;
    }
    .Fondcard{
    background: linear-gradient(to right, rgb(230, 97, 49, 0.9) , rgb(235, 238, 237));
    }
    .margetitre5{
        margin-top: 10px;
    }
    .Titremarge {
        margin-top: -7px;
    }
    .Notif {
        font-size: 0.85rem;
    }
    .Notif2 {
        margin-top: 10px;
    }

    /* Page Cabinet ================================================================ */
    .MainCabinet {
        padding-top: 60px;
    }
        .MainCabinet nav {
            background: linear-gradient(to right, var(--colorSidenav), var(--colorSidenavClaire));
        }
    .Formecard {
        border-radius: 5px;
        /* font-size: 10px; */
     }
    .Cont {
       margin-top: -140px;
    }
    .Taillepolice{
       font-size: 1em!important;
    } 
    .Bordure {
       border: 0;
    } 
    .Fond {
       background-color: white!important;
    }
    .toto {
        margin-left: 25px;
    }

    /* Page Mon profil : =========================================================== */
    .ImgProfil {
        width: 200px;
    }
    .TextNomUtilisateur {
        font-size: 3rem;
    }
    .GridImage {
        padding-top: 20px;
        padding-bottom: 10px;
        background: rgb(240, 240, 240);
    }
    .moin {
        font-size: 1em;
    }
    .titre2 {
        font-size: 2em;
    }
    header .textHeader .ImgProfil {
        width:50%;
        max-width: 200px;
    }
    form .input-field .material-icons {
        font-size: 1.5rem;
    }
    form .input-field .validate {
        height: 2rem;
    }

    /* Page Dossier médical : ===================================================== */
    .corps{
        height: 100%;
        width: 100%;
        font-size: 12px;
    }
    .Picture{
        height:18vh;
        width: 18vh;
    }
    .Paiement {
        display: block;
        text-align: center;
        line-height: 0;
        height: 7vh;
     
    }
    .Rendez-vous{
        display: block;
        text-align: center;
        line-height: 0;
        height: 7vh;
    }
    p {
        margin-top: 5px;
    }
    .premier{
        padding: 0;
        }
    .deuxieme{
        padding:0;
    }
    .troisieme{
        padding :0;
    }
    
    /* Page Paramètres : ============================================================ */
    .collapsible .pad15 {
        padding: 1.5rem;
    }
    [type="checkbox"] + span:not(.lever) {
        padding-left: 25px;
        padding-right: 15px;
    }

    /* Page Login patient : ============================================================ */
    .vaguetop {
        width:100%;
    }
    .vaguebottom {
        position:fixed;
        bottom:0;
        width:100%;
    }
    
    /* Page Login cabinet : ======================================================= */
    
    
    /* Page loading ===================================================================== */
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: var(--colorSidenav);
    
        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    
        z-index: 1001;
    }
    
        #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: var(--colorActive);
    
            -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
        }
    
        #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: var(--colorSidenavClaire);
    
            -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
              animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
        }
    
        @-webkit-keyframes spin {
            0%   { 
                -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(0deg);  /* IE 9 */
                transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
            }
            100% {
                -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(360deg);  /* IE 9 */
                transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
            }
        }
        @keyframes spin {
            0%   { 
                -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(0deg);  /* IE 9 */
                transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
            }
            100% {
                -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
                -ms-transform: rotate(360deg);  /* IE 9 */
                transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
            }
        }
    
        #loader-wrapper .loader-section {
            position: fixed;
            top: 0;
            width: 51%;
            height: 100%;
            background: #ffffff;
            z-index: 1000;  
            -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(0);  /* IE 9 */
            transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
        }
    
        #loader-wrapper .loader-section.section-left {
            left: 0;
        }
    
        #loader-wrapper .loader-section.section-right {
            right: 0;
        }
    
        /* Loaded ouverture en porte
        .loaded #loader-wrapper .loader-section.section-left {
            -webkit-transform: translateX(-100%);  
                -ms-transform: translateX(-100%);  
                    transform: translateX(-100%);
    
            -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }
    
        .loaded #loader-wrapper .loader-section.section-right {
            -webkit-transform: translateX(100%);  
                -ms-transform: translateX(100%);  
                    transform: translateX(100%);  
    
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }
        
        .loaded #loader {
            opacity: 0;
            -webkit-transition: all 0.5s ease-out;  
                    transition: all 0.5s ease-out;
        }
        */
        .loaded #loader-wrapper {
            visibility: hidden;
    
            /* Ouverture coulissante vers le haut */  
                    opacity: 0; 
    
            -webkit-transition: all 0.3s 0.8s ease-out;  
                    transition: all 0.3s 0.8s ease-out;
                    
        }
        
        /* JavaScript Turned Off */
        .no-js #loader-wrapper {
            display: none;
        }
        .no-js h1 {
            color: #222222;
        }
    
    
    
    
     
    